.App {
  text-align: center;
  background-image: url("./Fresh-Fruits.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Add WA floating button CSS */
.floating {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25D366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 999999;
}

.my-float {
  margin-top: 15%;
}

.SVGGround {

  background-image: url("./Fresh-Fruits.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.MyImgCard {
  height: 15em;
  /* width: 500px; */
  width:  15em;
  object-fit: cover;
}

.sliderimg{
  height: 20em;
  object-fit: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}